<div class="container mat-typography">
  <mat-grid-list rowHeight="50px" cols="3">
    <mat-grid-tile colspan="2">
      <h1 class="titulo" colspan style="width: 100% !important;">MIS TAREAS</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-flat-button
        style="position: absolute; right: 0;"
        [color]="'success'"
        class="boton-crear"
        routerLink="/creador"
        routerLinkActive="active"
      >
        &nbsp;CREAR

        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <div>
    <mat-card class="div-titulo mat-elevation-z2">
      <button
        style="display:inline-flex;align-items: left;justify-content: left;vertical-align: left;"
        mat-raised-button
        *ngIf="!isPlayed"
        color="warn"
        class="boton"
        (click)="ordenarNombreAsc()"
      >
        Nombre &#9660;
      </button>

      <button
        style="display:inline-flex;align-items: left;justify-content: left;vertical-align: left;"
        mat-raised-button
        *ngIf="isPlayed"
        color="accent"
        class="boton"
        (click)="ordenarNombreDesc()"
      >
        Nombre &#9650;
      </button>

      &nbsp;

      <button
        style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;"
        mat-raised-button
        *ngIf="isPlayed1"
        color="warn"
        class="boton"
        (click)="ordenarFecha()"
      >
        Fecha &#9660;
      </button>

      <button
        style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;"
        mat-raised-button
        *ngIf="!isPlayed1"
        color="accent"
        class="boton"
        (click)="ordenarFecha()"
      >
        Fecha &#9650;
      </button>

      &nbsp;

      <mat-form-field>
        <mat-label>Filtrar por nombre</mat-label>
        <input matInput [(ngModel)]="palabraBuscar" /> </mat-form-field
      >&nbsp;&nbsp;

      <button
        style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;"
        mat-raised-button
        color="accent"
        (click)="buscar(palabraBuscar)"
      >
        <mat-icon style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;"
          >search</mat-icon
        >
      </button>
    </mat-card>

    <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>

    <div style="padding-top: 1%;" *ngFor="let sec of secuencias">
      <mat-accordion>
        <mat-expansion-panel hideToggle class="card">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div>
                <h1 class="card-title">{{ sec.nombre | uppercase }}</h1>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <button
                mat-fab
                [color]="'success'"
                class="boton-play"
                [routerLink]="['/play', sec.idsecuencia]"
                routerLinkActive="active"
                style="position: absolute; right: 5%; width: 40px;
            height: 40px; margin-top: 4px;"
              >
                <mat-icon style=" font-size: 23px;" [inline]="true">
                  play_arrow
                </mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-grid-list cols="2" rowHeight="2:1">
            <div>
              <div class="acciones" fxLayout="row" *ngFor="let acc of sec.acciones">
                <mat-card class="icon-card" (click)="ampliarPicto(acc)">
                  <img style="    max-width:128px;" mat-card-image src="{{ acc.src }}" />

                  <img />
                  <mat-card-subtitle class="card-text">{{ acc.nombre }}</mat-card-subtitle>
                </mat-card>
                <div style="margin: auto;">
                  <mat-icon *ngIf="calcularFlecha(sec, acc)">double_arrow</mat-icon>
                </div>
              </div>

              <div fxLayout="column" fxFill fxLayoutAlign="center center" fxFlex="4%">
                <button
                  mat-raised-button
                  color="primary"
                  class="boton"
                  [routerLink]="['/creador', sec.idsecuencia]"
                  routerLinkActive="active"
                  style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;z-index: 10;  

                right: 5px;  
                top: 60%;
                margin-bottom: 12px;
                "
                >
                  Editar
                </button>

                <button
                  class="boton"
                  mat-raised-button
                  color="warn"
                  class="boton"
                  (click)="borrarSecuencia(sec)"
                  style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;z-index: 10;  
                 
                right: 5px;  
                top: 30%;
                "
                >
                  Borrar
                </button>
              </div>
            </div>

            <!-- <div fxLayout="row" fxLayoutAlign="start center" >
          <button
            mat-fab
            [color]="'success'"
            class="boton-play"
            [routerLink]="['/play', sec.idsecuencia]"
            routerLinkActive="active"
            style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;z-index: 10;  
            position: absolute;  
            right: 5px;  
            top: 45%;
            "
          
          >
            <mat-icon style=" font-size: 40px;" [inline]="true">
              play_arrow
            </mat-icon>
          </button>
        </div>-->
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
