@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.container {
  padding: 3%;
  padding-bottom: 0%;
  overflow-x: hidden;
}
.div-titulo {
  background-color: rgb(132, 185, 255);
  /* background-color: rgba(175, 175, 175, 0.705); */
  padding-bottom: 0;
}
h1,
.boton,
.boton-flecha {
  font-family: "Luckiest Guy", cursive;
}

.titulo {
  font-size: xxx-large;
  padding-top: 1%;
  color: #000;
}
@media screen and (max-width: 400px), screen and (max-height: 500px) {
  .titulo {
    font-size: xx-large;
    padding-top: 7%;
    color: #000;
  }
}
.acciones {
  padding-left: 0px;
}
.div-cards {
  width: 100%;
  height: 100%;
}

.card {
  background-color: #f5bd8f;
  overflow-x: auto;
  overflow-y: hidden;
}
.card-title {
}
.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0%;
  font-family: "Luckiest Guy", cursive;
  color: #000;
  font-size: large;
}
.icon-card {
  cursor: pointer;
  width: 70%;
}

.icon-imagen {
}
.boton {
}

.boton-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mat-success {
  background-color: rgb(0, 187, 0);
  color: #fff;
}
.boton-crear {
  font-family: "Luckiest Guy", cursive;
}
mat-grid-tile {
  margin-right: 0px;
}

.boton-buscar {
  width: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
