<div class="container mat-typography" fxFill fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3%">
  <h1 class="titulo">Opciones</h1>

  <mat-card
    class="card"
    style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;"
  >
    <label class="h1">Sonido</label>
    <div>
      <button mat-raised-button *ngIf="isOn" [color]="'success'" class="boton" (click)="state1()">
        <mat-icon>volume_up</mat-icon>
        Activado
      </button>
      <button mat-raised-button *ngIf="!isOn" color="warn" class="boton" (click)="state1()">
        <mat-icon>volume_off</mat-icon>
        Desactivado
      </button>
    </div>
  </mat-card>

  <mat-card
    class="card"
    style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;"
  >
    <div>
      <button mat-raised-button color="primary" routerLink="/opciones" routerLinkActive="active">
        <mat-icon style="font-size: 24px;">settings</mat-icon>
        <span class="h1" translate>colores del temporizador</span>
      </button>
      <!--       <br />
        <br />
        <mat-divider></mat-divider> -->
    </div>
  </mat-card>

  <mat-card
    class="card"
    style="display:inline-flex;align-items: center;justify-content: center;vertical-align: middle;"
  >
    <div>
      <button mat-raised-button color="accent" routerLink="/home" routerLinkActive="active">
        <mat-icon>menu_book</mat-icon> <span class="h1" translate>&nbsp;&nbsp;GUÍA</span>
      </button>
      <!-- <br />
        <br />
        <mat-divider></mat-divider> -->
    </div>
  </mat-card>
</div>
