@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.705);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.boton-main {
  /* width: 20rem;
  height: 10rem; */
  white-space: normal !important;
  word-wrap: break-word;
  font-family: "Luckiest Guy", cursive;
  /* font-size: larger; */
}
.boton-play {
  background-color: rgb(41, 214, 84);

  white-space: normal !important;
  word-wrap: break-word;
  font-family: "Luckiest Guy", cursive;
}

.mat-success {
  background-color: rgb(0, 187, 0);
  color: #fff;
}

.boton {
  white-space: normal !important;
  word-wrap: break-word;

  font-family: "Luckiest Guy", cursive;
  font-size: 34px;
  /* font-size: larger; */
  width: 100% !important;
  height: 100% !important;

  text-align: center;
}
